@page
@model ShoppingModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Affordable Items";
}
<h1>@ViewData["Title"]</h1>
@*
<div id = "prelim">
    <p>Before we start, how old are you?</p>
    <input id="age" type="number"/>
    <button class="btn btn-secondary" onclick="checkAge();">Submit</button>
</div>
<br /><br />
*@

<form class="form-horizontal" method="post" id="moi">
    <div class="form-group">
        <label for="budget" class="col-sm-2 control-label">Budget:</label>
        <div id="io">
            <input type="number" id="budget" value="" name="budget">
            <button type="submit" class="btn btn-secondary">Display Affordable Items</button>
        </div>
     </div>
</form>
<br />
<table class="table" id="affordable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.spAffordable[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spAffordable[0].Credits)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.spAffordable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Credits)
                </td>
            </tr>   
        }
    </tbody>
</table>